extends layout
block content
  body
    h2 Error #{errorStat} #{errorMSG}
      
    //comments can't be all the way to the left?
    // ADD THIS LATER IN THE LAB TO DEMONSTRATE Template overriding
    // block footer   //un-indent to override

    //p This comes from user.pug